* {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 769px){
    .pageTitle{
      top:50%;
      height: 144px;
      margin-top: -72px;
    }
}

.HomeIntro {
  margin-top: 10%;
}

.Menu {
	margin-top: 30px;
}

#ContainerLogo {
	width: 60%;
	height: 60%;
	position: relative;
	margin-right: 30%;
	bottom: -50%;
	float: right;
}

#ContainerLogo img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .HomeIntro {
    margin-top: 15%;
  }

  #ContainerLogo {
  	margin-right: 20%;
  	bottom: -100%;
  }
}

@media screen and (max-width: 768px) {
	.HomeIntro {
		margin-top: 30%;
	}

  	.Menu {
    width: 100%!important;
 	 }

	#ContainerLogo {
  	margin-right: 20%;
  	bottom: -120%;
  }

}

@media screen and (max-width: 575px) {
	#ContainerLogo {
		width: 200px;
		height: 200px;
		margin-top: 0%;
		float: right;
		bottom: 0;
		margin-right: 10%;
	}
}


.pageTitle:before {
  top: -100%;
}

.pageTitle:after {
  bottom: -100%;
}

