* {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 769px){
    .pageTitle{
      top:50%;
      height: 110px;
      margin-top: -55px;
    }
}

.pageTitle:before {
  top: -130%;
}

.pageTitle:after {
  bottom: -130%;
}

.TextTakeARest {
  position: fixed;
  z-index: 0;
  padding-top: 90px;
  left:180px;
  width: 100%;
  
}

.takearest-tittle{
  padding-bottom: 24px;
}

#text-window-view {
  display: none;
  position: fixed;
  z-index: 0;
  padding-left: 60px;
  width: 100%;
  background-image: -webkit-linear-gradient(top, white, rgba(255, 255, 255, 0.7));
  left: 120px;
}

.icon-network{
  color: #535353;
}

img {
  width: 100%;
}

.swim-img{
  width: 100%;
  height: 100%;
}

.GridButton {
  width: 20px;
  position: fixed;
  top: 90px;
  right: 55px;
  z-index: 0;
}

 .firstimage {
    margin-top: 160px;
  }

.content-image {
    position: absolute;
    z-index: -3;

  }

.container-fullimage {
  display: flex;
  justify-content: center;
}

.container-fullimage img {
  padding: 10% 0 5% 0;
}

#window-container {
  display: none;
  position: absolute;
  top: 320px;
  left: 180px;
  right:55px;
  padding:0;
}

#list-container {
  display: block;
}

@media screen and (max-width: 768px) {
  .GridButton {
    position: fixed;
    right: 16px;
  }

  .TextTakeARest {
    position: fixed;
    right: 16px;
    left: 0;
    width: 100%;
    top: 0;
    padding: 100px 16px 0 16px;
    z-index: -1;
    background-image: -webkit-linear-gradient(top, white, rgba(255, 255, 255, 0.7));
  }

  .takearest-tittle{
  padding-bottom: 0;
  }

  #text-window-view {
    position: fixed;
    right: 16px;
    left: 0;
    width: 100%;
    top: 0;
    padding: 104px 16px 0 16px;
    z-index: -1;
    background-image: -webkit-linear-gradient(top, white, rgba(255, 255, 255, 0.7));
  }

  #window-container {
  top: 320px;
  left: 180px;
  right:16px;
  padding:0;
  }

  .window-display{
    padding-left: 4px;
    padding-right: 4px;
  }

  .firstimage {
    margin-top: 240px;
  }

  .content-image {
    position: absolute;
    z-index: -3;
  }

  #window-container{
    left:0;
    padding-left: 16px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .firstimage {
    margin-top: 240px;
  }
}

















