*{
    margin: 0; padding: 0;
    font-family: 'Nunito Sans', sans-serif!important;
}

.display{
  font-size: 36px;
  font-weight: 700;
  color: #535353;
}


.heading1{
  font-size: 30px;
  font-weight: 700;
  color: #535353;
}

.heading2{
  font-size: 24px;
  font-weight: 700;
  color: #535353;
  padding-bottom: 24px;
}

.subheading1{
  font-size: 20px;
  font-weight: 600;
  color: #535353;
}

.subheading2{
  font-size: 18px;
  font-weight: 200;
  color: #535353;
}

.title{
  font-size: 18px;
  font-weight: 200;
  text-transform: uppercase;
  color: #2C2C2C;
}

.body{
  font-size: 18px;
  font-weight: 400;
  color: #535353;
}

.caption{
  font-size: 14px;
  font-weight: 600;
  color: #535353;
}
 /*typo Mobile*/
@media screen and (max-width: 768px){
  .display{
  font-size: 20px;
}

.heading1{
  font-size: 24px;
}

.heading2{
  font-size: 18px;
}

.subheading1{
  font-size: 12px;
}

.subheading2{
  font-size: 14px;
}

.title{
  font-size: 14px;
}

.body{
  font-size: 14px;
}

.caption{
  font-size: 8px;
}
}
/*End typo mobile*/


.BigBoss {
  width: 100%;
  height: 100%;
}

.BGimage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("Image/BG.svg");
  background-size: cover;
}

.Sidenav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 120px;
  height: 100%;
  background-image: -webkit-linear-gradient(left, white, rgba(255, 255, 255, 0.7));
  border-right: 1px solid #eee;
  display: flex;
  align-items: center;
}
.Sidenav.open {
  z-index: 1000;
  width: 50%;
  animation-name: openSideMenu;
  animation-duration: 0.6s;
} 

@keyframes openSideMenu {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

.sidenavItem {
  position: fixed;
  z-index: 2;
  left: 60px;
  visibility: hidden;
}

.sidenavItem a {
  display: block;
  padding: 34px;
  text-decoration: none;
}

.sidenavItem .active p {
  margin-bottom: 0;
  background: #fff;
  z-index: 1000;
  position: relative;
  display: inline-block;
  padding: 0px 16px;
}

.Sidenav.open .sidenavItem {
  visibility: visible;
}

.Sidenav.open .Listmenu:before {
  border: none;
}
.Sidenav.open .Listmenu.active:before {
  bottom: 47%;
  content: "";
  left: 16px;
  width: 100%;
  border: none;
  height: 1px;
  background: #3d3d3d;
}

.Listmenu:hover p{
  margin-left: 16px;
  color: #535353;
  transition: 0.5s;
}

.Menu a:hover {
  text-transform: uppercase;
  font-size: 15px;
  height: 27px;
  font-weight: 700;
  text-decoration: none;
  color: #535353;
  bottom:-3px;
}

.Listmenu {
  display: block;
	margin-top: 20px;
	position: relative;
  text-decoration: none;
}

.Listmenu:before {
  position: absolute;
  content: "";
  width: 50%;
  border: 1px dashed #999;
  right: 0;
  bottom: 10px;
}

.logo-ic img {
  width: 100%;
}

.logo-ic {
  position: fixed;
  top: 40px;
  margin-left: 36px;
  z-index: 3;
}

/*Page title*/

.pageTitle {
  position: absolute;
  z-index: 4;
  writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
  margin: 0;
  width: 24px;
  margin-left: -12px;
  left: 50%;
}

.pageTitle:before,
.pageTitle:after{
  content: '';
  height: 110px;
  width: 1px;
  background: #3d3d3d;
  position: absolute;
  display: block;
}
.pageTitle:before {
  top: -150%;
  right: 50%;
}

.pageTitle:after {
  bottom: -150%;
  left: 50%;
}

 /*End page title*/

.menunav {
  position: fixed;
  bottom: 24px;
  left: 42px;
  z-index: 5;
}
.closeButton {
  bottom: 34px;
}

/*.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    display: block;
    padding: 48px 60px;
}*/

@media screen and (max-width: 768px) {
  .Sidenav {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0px;
    border-bottom: 1px solid #eee;
  }

  .Sidenav .pageTitle {
    position: absolute;
    display: block;
    writing-mode: unset;
    -webkit-transform: unset;
    width: 160px;
    text-align: center;
    margin-left: -80px;
  }

  .Sidenav .menunav {
    position: absolute;
    bottom: 0;
    top: 24px;
    left: 16px;
  }

  .logo-ic {
    position: fixed;
    top: 24px;
    right: 16px;
    margin-left: 0;
    width: 30px;
    height: 30px;
  }

  .Sidenav .pageTitle:before,
  .Sidenav .pageTitle:after{
    all: unset;
  }

  .Listmenu:before {
    all: unset!important;
  }

  .Sidenav.open {
    width: 100%;
    animation: unset;
  }

  .Sidenav.open .sidenavItem {
    left: 0;
    width: 100%;
    background-image: -webkit-linear-gradient(left, white, rgba(255, 255, 255, 0.7));
    top: 10%;
    animation-name: openChildMenu;
    animation-duration: 0.6s;
  }

  .Sidenav.open  .sidenavItem a {
    padding: 16px;
    text-align: center;
  }

  .sidenavItem .active p {
    padding: 0;

  }

}

@keyframes openChildMenu {
  0% {
    top: -100%;
  }
  100% {
    top: 10%;
  }
}