* {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 769px){
    .pageTitle{
      top:50%;
      height: 86px;
      margin-top: -43px;
    }
}

.hidden-text p {
	display: inline-block;
	writing-mode: vertical-rl;
	-webkit-transform: rotate(-180deg);
	position: fixed;
	color: #e9e9e9;
	left: 15%;
}

.text-nhungmy{
	top:56px;
}

.text-uiux{
	bottom: 56px;
}

.project-1 {
	margin-top:15%;
	z-index: 2;
}

.img-project{
	display: block;
	width: 100%;
}

.thumbnail-project img{
	width: 100%;
}

.name-project{
	float: right;
}
.name-project span{
	margin-left: 16px;
}

.popupProject{
	display:none;
    position: fixed;
    z-index: 5;
    right: 8%;
    top:0;
    padding-top: 0;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    overflow: auto;
    background-color: #fff;
    box-shadow: 2px 2px 20px 2px #75757594;

}

.project-img{
	width:100%;
}

.close {
    position: fixed;
    z-index: 2;
    right: 10%;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

	.img-project{
	width: 100%;
	}

	.hidden-text p{
		font-size: 36px;
		left:20%;
	}
}

@media screen and (max-width: 768px) {

	.firt-project{
		margin-top: 120px;
	}

	.hidden-text{
		display: flex;

	}

	.hidden-text p{
		font-size: 24px;
		left:5%;
		width: 190px;
	}

	.text-nhungmy{
		top:160px;
	}

	.name-project{
		float: right;
		font-size: 14px;
	}

	.day-project{
		font-size: 12px;
	}

	.popupProject{
    right: 0px;
    top: 100px;
    width: 100%;
	height: 88%;
	}

	.close {
	right:16px;
    top: 100px;
	}
}







